.wrapper {
  text-align: center;
  .img {
    margin: auto;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    i {
      font-size: 25px;
    }
  }
  .product {
    padding: 30px;
    h3 {
      font-weight: 500;
    }
    p {
      font-size: 15px;
      margin-top: 20px;
      color: grey;
    }
  }
}
