.newarrivals {
  .heading {
    img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
    }

    h4 {
      font-weight: 400;
    }
    &-right {
      span {
        color: #e94560;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
.content {
  img {
    width: 200px;
    height: 200px;
  }
}
