footer {
  background: #0f3460;
  padding: 20px 0;
  color: #fff;
  h1 {
    margin-bottom: 30px;
    color: #e94560;
    font-weight: 500;
    font-style: italic;
  }
  .img {
    background: #0c2a4d;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 10px;
    i {
      font-size: 20px;
      margin: 5px;
      span {
        margin-top: 5px;
      }
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 10px;
    opacity: 0.5;
  }
}
